html,
body {
    height: 100%;
    width: 100%;
    font-family: Calibri;
}

#home-script,
#info-script,
#projects-script {
    cursor: pointer;
}

#pages {
    grid-row: 2/11;
    grid-column: 1/11;
    height: 100%;
    width: 100%;
}

.navbar {
    grid-column: 1/11;
    grid-row: 1/2;
}

.nav-item {
    margin-left: 1rem;
}

.navbar-brand {
    margin-left: 0.3rem;
}

#main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#yt-video {
    height: 24rem;
    width: 45rem;
    border-radius: 5px;
}

#contact-data {
    border: 1px solid black;
    border-radius: 7px;
    height: 30rem;
    width: 40rem;
}

#email,
#linkedIn,
#phone {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
}

#logo {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#linkRef {
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

#content {
    cursor: pointer;
    width: 100%;
    line-height: 3rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 7px;
}

#content:hover {
    border-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}

#separator {
    border: solid 1px red;
    height: 45%;
    margin: 0 2rem;
}

#sep-container {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mes-tran {
    font-size: 10px;
    text-align: right;
    width: 100%;
    margin-top: 3px;
}

#welcome-contact {
    text-align: center;
    margin-top: 1rem;
}

#bio-start {
    height: 100%;
    width: 100%;
}

#video-introduction {
    height: 100%;
    flex-basis: 50%;
}

#see-video {
    text-align: center;
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#video-presentation {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#biography {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#see-biography {
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

#image {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#my-face {
    height: 15rem;
    width: 10rem;
    border-radius: 6%;
}

#bio-presentation {
    height: auto;
    padding: 1rem 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#job {
    margin-top: 0.3rem;
    color: gray;
    font-size: 12px;
}

#my-name {
    font-weight: bolder;
    font-size: 16px;
}

#real-text {
    margin-top: 1.3rem;
}

#contact-me {
    font-style: italic;
}

#visit-linkedin:hover,
#visit-contact:hover {
    text-decoration: underline burlywood;
    font-weight: bold;
    cursor: pointer;
}

#home-start {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    height: 100%;
}

#intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eeeae6;
    height: 50rem;
    width: 100%;
    padding: 3rem;
}

#bio {
    justify-content: center;
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    background-color: rgb(247, 244, 241);
    height: 50rem;
    width: 100%;
    padding: 3rem;
}

#contact-button {
    background-color: bisque;
    text-align: center;
    width: 9rem;
    height: 3rem;
    line-height: 2.7rem;
    border-radius: 6px;
    transform: translateX(-50%);
    margin-left: 50%;
    cursor: pointer;
}

#contact-button:hover {
    border: 1px solid black;
}

#feel-impressed {
    text-align: center;
    font-weight: bold;
}

#starting-data {
    display: flex;
    flex-direction: column;
}

#personal-photo {
    height: auto;
    width: 13rem;
    border: 1px solid black;
    border-radius: 10px;
}

#fdrow1 {
    text-align: center;
}

#fdrow2 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#projects-start {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #dae0ea;
}

#project7,
#project8,
#project9 {
    flex-basis: 33%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 3rem;
}

#real-project7,
#real-project8,
#real-project9 {
    height: 90%;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}

#project-title {
    flex-basis: 10%;
    text-align: center;
}

#project-image-7,
#project-image-8,
#project-image-9 {
    flex-basis: 30%;
}

#project-features {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

#pr7-image,
#pr8-image,
#pr9-image {
    height: 100%;
    width: 100%;
}

#lisence {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
}

#link-click {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
}

#check-button {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texting {
    flex-basis: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.my-card-vertical {
    border: none;
    width: 100%;
    flex-direction: row;
    min-height: 16rem;
    cursor: auto;
}

.my-card-img {
    height: 100%;
    width: 24rem;
    border-radius: 5px;
}

.my-navbar {
    background-color: #d2d2d296 !important;
}

.my-navbar-collapse {
    margin-left: 5rem;
    background-color: black;
    border-bottom-left-radius: 14px;
}

.my-nav-link {
    color: white;
}

.my-nav-link:hover {
    color: white;
}

.my-home-panel {
    background: linear-gradient(70deg, #7a8e9f 0%, rgba(122, 142, 159, 0.7) 40%, #7a8e9f 100%);
    height: 34rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-personal-img {
    height: 85%;
}

.my-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.my-button-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 1rem;
    margin-top: 1rem;
}

.my-contact-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.my-color-mw {
    color: rgba(0, 0, 0, 0.75);
}

.my-color-mw:hover {
    color: rgba(0, 0, 0, 1);
}

#my-intro-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

#my-bio-image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-biography {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 4rem;
}

.my-intro-title {
    font-weight: bold;
    font-size: 2rem;
}

#my-contact-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
}

.my-contact-names {
    width: 6rem;
    text-align: right;
    font-weight: bold;
    margin-right: 1rem;
}

#my-bio-img-contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ways-to-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bio-description {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}

#youtube-video {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 2rem !important;
}

.card-title {
    font-weight: bold;
}

#projects-welc {
    font-size: 3rem;
    color: white;
    font-weight: bold;
}