html,
body {
    height: 100%;
    width: 100%;
}
#home-script, #info-script, #projects-script, #contact-script {
    cursor: pointer;
}
.navbar {
    background-color: var(--bs-gray-300) !important;
    grid-column: 1/11
}

.nav-item {
    margin-left: 1rem;
}

.navbar-brand {
    margin-left: 0.3rem;
}

#main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#yt-video {
    grid-column: 4/8;
    grid-row: 3/8;
    width: 100%;
    height: 100%;
}

#contact-data {
    border: 1px solid black;
    border-radius: 7px;
    margin-top: 2rem;
}

#email,
#linkedIn,
#phone {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
}

#logo {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#linkRef {
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

#content {
    cursor: pointer;
    width: 100%;
    line-height: 3rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 7px;
}

#content:hover {
    border-color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

#separator {
    border: solid 1px red;
    height: 45%;
    margin: 0 2rem;
}

#sep-container {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 2rem;
    height: 2rem;
}

#mes-tran {
    font-size: 8px;
    text-align: right;
    width: 100%;
    margin-top: 3px;
}

#welcome-contact {
    text-align: center;
    margin-top: 1rem;
}
#bio-start {
    height: 100%;
    width: 100%;
    grid-column: 1/11;
    grid-row: 2/11;
}
#video-introduction {
    height: 100%;
    flex-basis: 50%;
}
#see-video {
    text-align: center;
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
#video-presentation {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#yt-video {
    width: 90%;
    height: 74%;
}
#biography {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#see-biography {
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}
#image {
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#my-face {
    height: 15rem;
    width: 10rem;
    border-radius: 6%;
}
#bio-presentation {
    height: auto;
    padding: 1rem 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#job {
    margin-top: 1.3rem;
    color: gray;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
}
#my-name {
    font-weight: bolder;
    font-size: 17px;
}
#real-text {
    margin-top: 1.3rem;
}
#contact-me {
    font-style: italic;
}
#visit-linkedin:hover, #visit-contact:hover {
    text-decoration: underline burlywood;
    font-weight: bold;
    cursor: pointer;
}
#contact-start {
    grid-column: 4/8;
    grid-row: 2/11;
}
#home-start {
    grid-column: 1/11;
    grid-row: 3/11;
    display: flex;
    flex-direction: row;
}
#video-present {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#general {
    justify-content: center;
    flex-basis: 50%;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
#contact-button {
    background-color: bisque;
    text-align: center;
    width: 9rem;
    height: 3rem;
    line-height: 2.7rem;
    border-radius: 6px;
    transform: translateX(-50%);
    margin-left: 50%;
    cursor: pointer;
}
#contact-button:hover {
    border: 1px solid black;
}
#feel-impressed {
    text-align: center;
    font-weight: bold;
}
#starting-data {
    display: flex;
    flex-direction: column;
}
#personal-photo {
    height: 22rem;
    width: 13rem;
    border: 3px solid #555;
    border-radius: 70px;
}
#fdrow1 {
    text-align: center;
}
#fdrow2 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
#projects-start {
    grid-column: 1/11;
    grid-row: 2/11;
    display: flex;
    flex-direction: column;
}
#projects-info {
    flex-basis: 20%;
    text-align: center;
    top: 2rem;
    position: relative;
}
#projects-container {
    height: 100%;
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
}
#project7, #project8, #project9 {
    flex-basis: 33%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#real-project7, #real-project8, #real-project9 {
    height: 100%;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}
#project-title {
    flex-basis: 10%;
    text-align: center;
}
#project-image {
    flex-basis: 30%;
}
#project-features {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}
#pr7-image, #pr8-image, #pr9-image{
    height: 100%;
    width: 100%;
}
#lisence {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
}
#link-click {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
}
#check-button {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#texting {
    flex-basis: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}